@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BJCWebApp the handy place to find jobs in your area.</h1>
    <p>Insert text here...</p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Jobs" asp-action="Index">See the latest jobs here</a>
    </p>
</div>
